.ms{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
}
ms:hover{
    background-color: red;
    cursor: auto;
}
.ms{
    font-size: 4.5em;
}